<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>AAPL,ig-platform-id</key>

<data>AACbPg==</data>

<key>device-id</key>

<data>mz4AAA==</data>

<key>disable-external-gpu</key>

<data>AQAAAA==</data>

<key>enable-hdmi20</key>

<data>AQAAAA==</data>

<key>framebuffer-patch-enable</key>

<data>AQAAAA==</data>

<key>framebuffer-portcount</key>

<data>AwAAAA==</data>

<key>framebuffer-con0-enable</key>

<data>AQAAAA==</data>

<key>framebuffer-con0-type</key>

<data>AAgAAA==</data>

<key>framebuffer-con0-busid</key>

<data>AQAAAA==</data>

<key>framebuffer-con0-pipe</key>

<data>EgAAAA==</data>

<key>framebuffer-con1-enable</key>

<data>AQAAAA==</data>

<key>framebuffer-con1-type</key>

<data>AgAAAA==</data>

<key>framebuffer-con1-busid</key>

<data>AAAAAA==</data>

<key>framebuffer-con1-pipe</key>

<data>CgAAAA==</data>

<key>framebuffer-con2-enable</key>

<data>AQAAAA==</data>

<key>framebuffer-con2-type</key>

<data>AAgAAA==</data>

<key>framebuffer-con2-busid</key>

<data>AgAAAA==</data>

<key>framebuffer-con2-pipe</key>

<data>EgAAAA==</data>

</dict>
</plist>